@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* @import url("../../public/images/Background.png"); */
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rtl-font {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Quicksand", sans-serif;
}
.ltr-font {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Fustat", sans-serif;
}

/* button {
  background-color: #fff;
  border: 1px solid #25d366;
  padding: 5px;
  position: relative;
  width: 12em;
  height: 2.5em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
} */

/* button p { */
  /* top: 0.4em;
  left: 4rem; */
  /* margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #25d366;
} */

/* button svg {
  position: absolute;
  top: 0.6em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
} */

/* button:hover p {
  left: 0.5em;
  color: #fff;
}

button:hover svg {
  opacity: 1;
  right: 1em;
}

button:hover {
  background-color: #25d366;
  transition: 0.5s;
} */

.scroll {
  width: 30px;
  height: 30px;
  border: 0.5px solid #333;
  border-radius: 50%;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 9.2px;
    width: 10px;
    height: 10px;
    border-left: 0.5px solid #333;
    border-bottom: 0.5px solid #333;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
