@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* @import url("../../public/images/Background.png"); */
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rtl-font {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Quicksand", sans-serif;
}
.ltr-font {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Fustat", sans-serif;
}
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.scroll {
  width: 30px;
  height: 30px;
  border: 0.5px solid #333;
  border-radius: 50%;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 9.2px;
    width: 10px;
    height: 10px;
    border-left: 0.5px solid #333;
    border-bottom: 0.5px solid #333;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
